body {
  display: flex !important;
  flex-direction: column !important;
  background-color: #ffffff !important;
  place-items: initial !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  background-color: #F8F8FA !important;
  flex: 1 0 auto !important;
  min-height: calc(100vh - 140px) !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}